<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="C:\Users\rafael\Onedrive\Ambiente de Trabalho\CCMM.log"/>
    <add key="SourceFolder" value="C:\Users\rafael\Onedrive\Ambiente de Trabalho\usrdat\"/>
    <add key="ProcessFolder" value="C:\Users\rafael\Onedrive\Ambiente de Trabalho\Conta Corrente\"/>
    <add key="SuccessFolder" value="C:\Users\rafael\Onedrive\Ambiente de Trabalho\producao\"/>
    <add key="FailFolder" value="C:\Users\rafael\Onedrive\Ambiente de Trabalho\producao\NAO.PROCESSADOS\"/>
    
    <add key="StationFiles" value="BCFI48"/>
    <add key="TextFilesExtension" value=".txt"/>
    <add key="BatFilesExtension" value=".bat"/>
    
    <add key="AJUST_Folder" value="CC_AJUST"/>
    <add key="AJUST_File" value="AJUST"/>
    <add key="CRDIF_Folder" value="CC_CRDIF"/>    
    <add key="CRDIF_File" value="CRDIF"/>    
    <add key="NFPEN_Folder" value="CC_NFPEN"/>
    <add key="NFPEN_File" value="NFPEN"/>
    <add key="BORDE_Folder" value="CC_BORDE"/>
    <add key="BORDE_File" value="BORDE"/>
    <add key="SALLH_Folder" value="CC_SALLH"/>
    <add key="SALLH_File" value="SALLH"/>
    <add key="SALCR_Folder" value="CC_SALCR"/>
    <add key="SALCR_File" value="SALCR"/>
    <add key="IRMES_Folder" value="CC_IRMES"/>
    <add key="IRMES_File" value="IRMES"/>
    <add key="NDNCS_Folder" value="CC_NDNCS"/>
    <add key="NDNCS_File" value="NDNCS"/>
    <add key="LHDIF_Folder" value="CC_LHDIF"/>
    <add key="LHDIF_File" value="LHDIF"/>
    <add key="ENCAC_Folder" value="CC_ENCAC"/>
    <add key="ENCAC_File" value="ENCAC"/>
    <add key="NOTAS_Folder" value="CC_NOTAS"/>
    <add key="NOTAS_File" value="NOTAS"/>
    <add key="HISTO_Folder" value="CC_HISTO"/>
    <add key="HISTO_File" value="HISTO"/>
    <add key="CONTA_Folder" value="CC_CONTA"/>
    <add key="CONTA_File" value="CONTA"/>
  </appSettings>
</configuration>